body {
    background-color: gainsboro 
}

p {border: 2px solid rebeccapurple;
    
}
h1 {text-align: center; 
     text-shadow: 2px rebeccapurple;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li {display: inline-block;}
ul {
    border: 1px solid rebeccapurple;
    background-color: gainsboro;
  }
  
  li a {
    color: black;
  }
  footer {text-align: center;}

  div {
      display: inline-block;
  }

