body {
    background-color: gainsboro 
}

p {border: 2px solid rebeccapurple;
    
}
h1 {text-align: center; 
     text-shadow: 2px rebeccapurple;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li {display: inline-block;}
ul {
    border: 1px solid rebeccapurple;
    background-color: gainsboro;
  }
  
  li a {
    color: black;
  }
  footer {text-align: center;}

  div {
      display: inline-block;
  }

/*the large box*/

.alumni{

    display: inline-block;

    justify-content: space-around;

    align-items: stretch;

    margin-outside: 10px;

    width: 100%;



}
/* The 3 alumni discs*/

.alumni .blocks {

    /*margin-top: 200px;*/

    background: rebeccapurple;

    border: solid beige;

    border-radius:2%;

    display: flex;

    justify-content: space-around;

    align-items: stretch;

    padding: 50px;

    box-shadow: 10px 10px 10px rgba(100, 100, 100, 5);

    font-family: Arial, sans-serif;

    font-size: 0.7rem;


}

/*The footer line to check more alumni and students*/

.alumni .footer{

    display: flex;

    background: rebeccapurple;

    margin-bottom: 10px;

    justify-content: space-evenly;

    padding: 5px;

    border-radius: 3%;

    font-family: Papyrus, sans-serif, italic;

    font-size: 1rem;

    color: beige;

    border: solid beige;

    box-shadow: 10px 10px 10px rgba(100, 100, 100, 5);

}

/*The link students page*/

.alumni .footer strong{

    font-size: 1.4rem;

    color: beige;

    font-weight: 700;

    text-emphasis-color: ghostwhite;

}

/*Alumni images*/

.alumni img{

    margin-top: 25px;

    width: 5rem;

    height: 5rem;

    background: rebeccapurple;

    display: flex;

    padding: 2px;

    border-radius: 50%;

    flex-direction: column;

    box-shadow: 5px 5px 5px rgba(100, 100, 100, 2);

}

/*Company logos*/

.sub-alum img{

    width: 3rem;

    height: 3rem;

    background: white;

    border-radius: 20%;
}



.sub-alum{

    padding: 10px;

    text-justify: auto;

}


/*Alumni pictures*/

.alum{

    background: beige;

    padding: 30px;

    border: purple;

    border-radius:50%;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

    margin: 2px;

    justify-content: space-evenly;

    align-items: flex-start;

    display: flex;

    flex-wrap: wrap-reverse;

    cursor:pointer;

}


/*content pop up bubble message displaying alumni story*/

#abbr{

    cursor: pointer;

    text-decoration-color: rebeccapurple;

    font-weight: 600;

    font-size: 5rem;

    font-family: Papyrus, sans-serif, italic;

    padding: 5px;

    background: rebeccapurple;

}

/*rgba(109, 150, 32, 0.822)*/

/*alumni stories text edits*/

#word{

    font-size: 2rem;

    background: rebeccapurple;

    display: flex;

    justify-content: space-around;

    font-family:'Homemade Apple',cursive;

}

/*alumni stories header */

#word strong{

    font-size: 30rem;

    font-family: Papyrus, sans-serif, italic;

    font-weight: bolder;

    margin-bottom: 50px;

}


#alumniHead{

    padding: 10px;

    margin: 5px 10px 10px;

    font-family: Arial, sans-serif;

    background: beige;

    font-size: 1.4rem;

    font-weight: 600;

    display: flex;

    justify-content: space-evenly;

}

/*Picture and logo in alumni story header*/

#alumniHead img{

    width: 150px;

    margin-top: 50px;

    cursor:pointer;

}



#alumniHead strong{

    font-size: 3rem;

    color: rebeccapurple;
}


/* linked to the Msimbo students webpage */

#intro{

    font-size: 2rem;

    color: rebeccapurple;

    font-weight: 700;

    font-family: Arial, sans-serif;

}


