#container1 {
display: flex;
background-color: rgba(109, 150, 32, 0.822);

padding: 20px;
justify-content: center;
margin: 2px;
}
#container1 {
  display: flex 2;
margin-left: 300px;
margin-top: -104px;
height: 60px;
width: 90%;



}

.inner {
  display: inline;
  width: 300px;
  height: 120px;
  border: 1px solid rgb(11, 17, 11);
  margin: 5px;
}

.inner {
background-color:rebeccapurple;
padding: 10px;
height: 60px;
margin-top: 30px;

}
.inner a {
font-family: Roboto, san-serif;
font-size: 25px;
padding: 5px;
text-decoration: none;
color: rgb(252, 248, 248);
 
}


Flex2#toon {
width: 25px;
margin-left: 5px;
}

 img#Lg2 {
  z-index: 0;
  margin-top: 75px;
  align-items:  center;
  margin-left: 620px;
  margin-top: 75px;

}

Lg2.responsive {
width: 65%;
max-width: 540px;
height: auto;

}

#nessa {
background-image:
url ('images/nesa.jpg');
Opacity: .6;
margin-top:-395px;
width: 1520px;
z-index:
}
#foot {

background-color: rebeccapurple;
color: white;
border: 1px solid blueviolet;
text-align: center;
margin-top: 200px;
height: 50px;
width: 115%;
z-index: inherit;
box-shadow: 10px 10px 50px grey;
}

#logo_text {

z-index: 1
border: 0px;
box-shadow: 10px 10px 40px grey inset;
width: 1522px;
height: 900px;


}

#ulem_logo {
  margin-top: -14px;
  height: 100px;
  width: 315px;
  z-index: 559;
  


}
#logo_text p {

font-family: Dekko, sans-serif;

font-size: 35px;
text-align: center;
font-color: white;
z-index: 9998;
margin-top: -150px;
line-height: 2.5;

}
#logo_text {
  height: 465px;
}